<!DOCTYPE html>
<html>
  <head>
    <title>Rachel Brown${title}</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Belleza|Forum|Buda:300" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <a href="/">
        <h1>
          Rachel Brown{{title}}
        </h1>
      </a>
    </header>
    <!--<img id="logo" src="https://cdn.glitch.com/cca2e652-63d5-402c-b5d8-d6d756c9a684%2Fwandering-arrow-logo-700.png?1495646444802">-->
    {{#unless hideMenu}}
    <ul id="menu">
      <a href="/"><li><span class="arrow">↣</span> About</li></a>
      <a href="/cv"><li><span class="arrow">⤔</span> CV</li></a>
      <a href="/disordered"><li><span class="arrow">↛</span> Disordered </li></a>
      <!--<a href="/dreams" target="_blank"><li><span class="arrow">↣</span> Dreams </li></a>-->
      <a href="/the-illuminator"><li><span class="arrow">⇸</span> The Illuminator</li></a>
      <a href="/installations"><li><span class="arrow">⤕</span> Installations</li></a>
      <a href="/music"><li><span class="arrow">⇻</span> Music</li></a>
      <!--<<a href="/photography"><li><span class="arrow">↣</span> Photography</li></a>--->
      <a href="/video"><li><span class="arrow">↠</span> Video</li></a>
      <!--<a href="/writing"><li><span class="arrow">⇸</span> Writing</li></a>--->
    </ul>
    {{/unless}}
    
    <main>{{{ body }}}</main>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
