<div id="video">
{{!--
map is like a loop, in that it repeats instructions for the different sections. "mapping data to a pattern"
// https://handlebarsjs.com/builtin_helpers.html
  You need 3 { when you want it to render the html from the spreadsheet
  If there's more than a couple of a things, you should give it a class to style it.
--}}
  
  {{#each data}}
    <div class="video-section">
      
      <h1>
        {{this.title}}, {{this.year}}
      </h1>
      <div class="video-description wrap700">
        {{this.description}}
      </div>
      <div class="video-screenings">
        {{{this.screenings}}}
      </div>
      <div class="video-embed">
        {{{this.embed}}}  
      </div>

    </div>
  {{/each}}
  
</div>